{{ define "main" }}


<main class="home-posts">
  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{ range $pages }}
  <article class="post-item">
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
    {{ with .Description }}
    <p class="description">{{ . }}</p>
    {{ else }}
    <p class="description">{{ .Summary }}</p>
    {{ end }}
  </article>
  {{ end }}
</main>
{{ end }}